.about-us {
    margin-top: 10px;
    position: relative;
    width: 100%;
    background: #FFFFFF;
    mix-blend-mode: normal;
}
.about-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us img {
    width: 350px;
    height: 350px;
    margin-right: 30px;
}

.text {
    margin-left: 30px;
}

.content p {
    width: 450px;
    margin-left: 50px;
}
