#header-background-image .main-img {
    position: relative;
    width: 100%;
    height: 500px;
    top: 0;
}

#header-background-image .welcome-text {
    position: absolute;
    left: 23%;
    top: 0;
}

.welcome-text-title {
    position: absolute;
    width: 544px;
    height: 28px;
    left: 77px;
    top: 184px;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
}

.welcome-text-description {
    position: absolute;
    width: 400px;
    height: 41px;
    left: 77px;
    top: 211px;
    font-family: Bree Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
}

.about-div {
    position: relative;
    width: 100%;
    height: 586px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    margin-top: 12px;
}

.about-p-header {
    position: absolute;
    width: 275px;
    height: 24px;
    left: 45%;
    top: 17px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.25px;
    color: #000000;
    margin: 0;
}

.about-div div {
    position: absolute;
    left: 23.9%;
}

.children {
    position: absolute;
    width: 380px;
    height: 382px;
    border-radius: 50%;
    margin: 131px 574px 73px 15px;
}

.red-heart {
    position: absolute;
    width: 85px;
    height: 68px;
    margin: 76px 619px 442px 265px;
}

.green-heart {
    position: absolute;
    width: 40px;
    height: 33px;
    margin: 135px 509px 418px 330px;
}

.text-about {

    position: absolute;
    width: 219px;
    height: 90px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.25px;
    color: #000000;
    margin: 84px 289px 412px 461px;
}

.text-about-second {
    position: absolute;
    width: 318px;
    height: 240px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.25px;
    color: #000000;
    margin: 180px 190px 166px 461px;
}

.little-div-first {
    position: absolute;
    width: 135px;
    height: 205px;
    margin: 88px 32px 293px 802px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.little-div-second {
    position: absolute;
    width: 135px;
    height: 205px;
    margin: 327px 32px 54px 802px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.little-div-first img {
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 6px 17px 99px 18px;
    border-radius: 50%;
}

.little-div-first p {
    position: absolute;
    width: 35px;
    height: 24px;
    font-family: system-ui;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.25px;
    margin: 114px 49px 67px 51px;
    color: #EF831F;
}

.little-div-first h2 {
    position: absolute;
    width: 99px;
    height: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.25px;
    margin: 162px 18px 19px 18px;
    color: #000000;
}

.little-div-second img {
    position: absolute;
    width: 96.26px;
    height: 100px;
    margin: 0 18.74px 105px 20px;
    border-radius: 50%;
}

.little-div-second p {
    position: absolute;
    width: 45px;
    height: 24px;
    font-family: system-ui;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.25px;
    margin: 103px 44px 78px 46px;
    color: #EF831F;
}

.little-div-second h2 {
    position: absolute;
    width: 119px;
    height: 24px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.25px;
    margin: 151px 7px 30px 9px;
    color: #000000;
}

.charity-With-Difference-div {
    position: relative;
    width: 100%;
    height: 573px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    margin-top: 12px;
}

.charity-With-Difference-div h2 {
    position: absolute;
    width: 352px;
    height: 24px;
    left: 40%;
    top: 25px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.25px;

    color: #000000;
}

.first-line {
    position: absolute;
    width: 250px;
    height: 404px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 100px 683px 69px 36px;
    left: 23.9%;
}

.first-line-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 215px;
    background: #FFFFFF;
    mix-blend-mode: screen;
    box-shadow: 0 4px 4px gray;
}

.first-line-child img {
    margin: 37px 25.66px 252px 70px;
}

.first-line h2 {
    position: absolute;
    width: 201px;
    height: 24px;
    left: 25px;
    top: 202px;
    margin: 13px 0 0 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2px;
    color: #000000;
}

.first-line p, .third-line p, .second-line p {
    position: absolute;
    width: 197px;
    height: 72px;
    left: 27px;
    top: 253px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
}

.first-line button, .third-line button, .second-line button {
    position: absolute;
    margin: 372px 50px 0 50px;
    width: 150px;
    height: 32px;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 16px;
    top: 8px;
    bottom: 8px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.25px;
    color: #6C5CE7;
    background-color: white;
}

.second-line {
    position: absolute;
    width: 250px;
    height: 404px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 100px 368px 69px 351px;
    left: 23.9%;
}

.second-line-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 215px;
    background: #FFFFFF;
    mix-blend-mode: screen;
    box-shadow: 0 4px 4px gray;
}

.second-line-child img {
    margin: 37px 25.66px 252px 70px;
}

.second-line h2 {
    position: absolute;
    width: 201px;
    height: 24px;
    left: 25px;
    top: 202px;
    margin: 13px 0 0 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2px;
    color: #000000;
}

.third-line {
    position: absolute;
    width: 250px;
    height: 404px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 100px 44px 69px 675px;
    left: 23.9%;
}

.third-line-child {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 215px;
    background: #FFFFFF;
    mix-blend-mode: screen;
    box-shadow: 0 4px 4px gray;
}

.third-line-child img {
    margin: 37px 25.66px 252px 70px;
}

.third-line h2 {
    position: absolute;
    width: 201px;
    height: 24px;
    left: 25px;
    top: 202px;
    margin: 13px 0 0 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.2px;
    color: #000000;
}

.our-mission-div {
    position: relative;
    width: 100%;
    height: 598px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    margin-top: 12px;
}

.our-mission-div h2 {
    position: absolute;
    width: 300px;
    height: 24px;
    left: 40%;
    top: 25px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}

.our-mission-div-header-img {
    position: absolute;
    width: 421px;
    height: 486px;
    left: 23.9%;
    margin: 83px 517px 29px 31px;
}

.our-mission-child-div {
    position: absolute;
    width: 541px;
    height: 408px;
    left: 23.9%;
    margin: 122px 41px 68px 387px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.our-mission-child-div h2 {
    position: absolute;
    width: 523px;
    height: 8px;
    font-family: sans-serif;
    font-size: 22px;
    line-height: 24px;
    color: #000000;
    left: 32px;
    top: 40px;
}

.our-mission-child-div p {
    position: absolute;
    width: 482px;
    height: 120px;
    margin: 84px 27px 204px 32px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    color: #000000;
}

.home-shelter {
    margin: 155px 382px 39px 20px;
}

.home-shelter img {
    position: absolute;
    width: 101px;
    height: 97.15px;
    top: 55%;
    left: 10%;
}

.home-shelter p {
    position: absolute;
    width: 119px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
}

.water-and-food img {
    position: absolute;
    width: 118.93px;
    height: 97px;
    top: 55%;
    left: 42%;
}

.water-and-food p {
    position: absolute;
    width: 140px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.water-and-food {
    margin: 155px 209px 70px 192px;
}

.love-the-world img {
    position: absolute;
    width: 144px;
    height: 101px;
    top: 55%;
    left: 70%;
}

.love-the-world p {
    position: absolute;
    width: 136px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.love-the-world {
    margin: 155px 34px 70px 353px;
}

.our-works {
    position: relative;
    width: 969px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
}

.our-works-h2 {
    position: absolute;
    width: 158px;
    height: 24px;
    left: 405px;
    top: 17px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
}

.arrow-left {
    position: absolute;
    left: 18px;
    top: 275px;
    font-size: 23px;
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-right {
    position: absolute;
    top: 275px;
    right: 16px;
    font-size: 23px;
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-child-our-works img {
    position: absolute;
    width: 370px;
    height: 270.38px;
    left: 0;
    top: -2px;
    margin: 81px 252px 198px 74px;
}

.first-child-our-works h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #2D3436;
    margin: 349px 55px 129px 74px;
}

.first-child-our-works p {
    position: absolute;
    left: 0;
    bottom: 40px;
    font-size: 18px;
    line-height: 32px;
    color: #2D3436;
    margin-left: 74px;
    margin-right: 525px;
    margin-bottom: 25px;
}

.first-child-our-works button {
    position: absolute;
    width: 150px;
    height: 32px;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 16px;
    top: 8px;
    bottom: 8px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.25px;
    color: #6C5CE7;
    background-color: white;
    margin: 490px 775px 18px 74px;
}

.second-child-our-works img {
    position: absolute;
    width: 370px;
    height: 265.17px;
    left: 0;
    top: -1px;
    margin: 82px 67px 202px 532px;
}

.second-child-our-works h2 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #2D3436;
    margin: 349px 75px 129px 45px;
}

.second-child-our-works p {
    position: absolute;
    left: 0;
    bottom: 40px;
    margin-left: 535px;
    margin-right: 90px;
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 32px;
    color: #2D3436;
}

.second-child-our-works button {
    position: absolute;
    width: 150px;
    height: 32px;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 16px;
    top: 8px;
    bottom: 8px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.25px;
    color: #6C5CE7;
    background-color: white;
    margin: 490px 775px 18px 45px;
}

.first-child-our-works-first {
    position: absolute;
    top: 80px;
    left: 1010px;
}

.first-child-our-works-first button {
    position: absolute;
    width: 150px;
    height: 32px;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.25px;
    color: #6C5CE7;
    background-color: white;
}

.second-child-our-works-second {
    position: absolute;
    top: 80px;
    left: 1460px;
}

.second-child-our-works-second button {
    position: absolute;
    width: 150px;
    height: 32px;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.25px;
    color: #6C5CE7;
    background-color: white;
}

.our-works-container {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    width: 969px;
    height: 550px;
    mix-blend-mode: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    overflow: hidden;
}

/*.row {*/
/*    width: 1000px;*/
/*    height: 600px;*/
/*    margin-top: 50px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    align-content: center;*/
/*    margin-left: 217px;*/
/*}*/

.first, .second, .third, .fourth, .fifth, .sixth {
    width: 200px;
    height: 500px;
    border: 1px solid gray;
    margin-left: 40px;
}

.test {
    position: absolute;
    width: 969px;
    height: 500px;
    left: 5%;
}

.test div {
    margin: 20px 20px 0 0;
    width: 180px;
}

.latest-news {
    width: 47%;
    height: 550px;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
}

.latest-news-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-news-first-part {
    display: flex;
}

.latest-news img {
    margin: 0 18px;
    padding: 0;
}

.latest-news h3 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #2D3436;
    margin-left: 18px;
}

.latest-news p {
    margin-left: 18px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    margin-right: 0;
    letter-spacing: 0.25px;
    color: #2D3436;
}

.latest-news h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.latest-news button {
    width: 150px;
    height: 32px;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 16px;
    bottom: 8px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.25px;
    color: #6C5CE7;
    background-color: white;
    margin-left: 18px;
    margin-right: 20px;
    margin-top: 0;
}

.latest-news-arrow-right {
    position: absolute;
    top: 50%;
    left: 95%;
    font-size: 23px;
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-news-arrow-left {
    position: absolute;
    top: 50%;
    font-size: 23px;
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
