.title-clubs {
        position: relative;
        top: 17px;
     }

 .card-container {
          position: relative;
          top: 20px;
          bottom: 15px;
          margin: 0px;
          padding: 0;
           justify-content: space-evenly;
     }

.first-card-content {
         block-size: fit-content;
         width: fit-content;
     }

 .first-card-title {
           font-size: 22px;
           font-family: Inter;
          font-weight: bold;
           letter-spacing: 1.5px;
       }

.first-card-description-content{
       width: 370px;
      }

.second-card-content {
          block-size: fit-content;
           width: fit-content;

       }

.second-card-title {
           font-size: 22px;
           font-family: Inter;
           font-weight: bold;
           letter-spacing: 1.5px;
       }

.second-card-description-content {
          width: 370px;
       }

.third-card-content {
          block-size: fit-content;
          width: fit-content;
      }

 .third-card-title {
           font-size: 22px;
          font-family: Inter;
           font-weight: bold;
          letter-spacing: 1.5px;
      }

 .third-card-description-content {
           width: 370px;
       }

.fourth-card-content {
           block-size: fit-content;
           width: fit-content;
       }

.fourth-card-title {
           font-size: 22px;
           font-family: Inter;
           font-weight: bold;
           letter-spacing: 1.5px;
       }

.fourth-card-description-content {
      width: 370px;
     }

.five-card-content {
           block-size: fit-content;
           width: fit-content;
       }

 .five-card-title {
           font-size: 22px;
           font-family: Inter;
           font-weight: bold;
           letter-spacing: 1.5px;
       }

 .five-card-description-content {
           width: 370px;
       }

 .six-card-content {
           block-size: fit-content;
           width: fit-content;
       }

 .six-card-title {
           font-size: 22px;
           font-family: Inter;
           font-weight: bold;
           letter-spacing: 1.5px;
       }

.six-card-description-content {
          width: 370px;
       }
