@media screen and (max-width: 1024px) and (min-width: 767px) {
    .footer-p-Copyright {
        margin-left: 210px !important;
    } 
}
@media screen and (max-width: 768px) and (min-width: 424px) {
    .footer-p-Copyright {
        margin-left: 150px !important;
    }
    .Company {
        margin-right: 0!important;
    }
    .More, .Our-partner {
        margin: 15px 0 !important;
    }
    .Contact {
        margin-left: 65px !important;
    }
}
@media screen and (max-width: 425px) and (min-width: 374px) {
    .footer-four-Social-Media {
        margin-top: 80px !important;
        margin-left: -129px !important;
    }
    .footer-con {
        display: grid !important;
    }
    .footer-main {
        height: 720px !important;
    }
    .footer-bottom-band {
        margin-top: 60px !important;
        width: 70% !important;
    }
    .footer-p-Copyright {
        margin-left: 65px !important;
    }
}
@media screen and (max-width: 375px) {
    .footer-four {
        margin-left: 45px !important;
    }
    .footer-p-Copyright {
        font-size: 10px;
    }
}
body {
    margin: 0;
}

.footer-main {
    width: 100%;
    height: 450px;
    background-color: #2D3B38;
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.footer-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-con div {
    width: 250px;
    height: 260px;
    color: white;
    margin: 15px;
    padding: 0;
}

.company-ul, .more-ul, .Our-partner-ul, .contact-ul {
    list-style: none;
    color: white;
    padding: 0;
}

.company-ul, .more-ul, .Our-partner-ul, .contact-ul li {
     margin: 10px 0;
     color: white;
}

.help-links{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: all .2s ease;
}
.company-ul li {
    color: white;
}

.company-ul, .more-ul, .Our-partner-ul, .contact-ul li a:hover {
    color: white;
}

.footer-con i {
    color: white;
}

.footer-con a {
    text-decoration: none;
}

.one, .two, .three, .four, .five {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    background-color: #26312F;
    color: #ffff;
    transition: all .2s ease;
    margin-top: 5px;
}

.footer-bottom-band {
    background-color: #4F5E5B;
    display: flex;
    align-items: flex-end;
    width: 60%;
    margin: 0 auto;
}

.footer-p-Copyright {
    margin-left: 370px;
    margin-top: 10px;
    color: white;
}

.MAcode-text {
    color: #07be94;
    text-decoration: none;
}

.footer-four-h-Social-Media {
    margin-top: 40px;
}
.footer-one-block{
    display: flex;
    margin: 0 !important;
}
.footer-two-block {
    display: flex;
    margin: 0 !important;
}
