.specialProgram-info-form-card {
    width: 100%;
    padding: 25px;
    background-color: #fff;
    border-radius: 3px;
}
.description{
    overflow: hidden;
    display: -webkit-box;
    line-height: 21px;
    max-height: 48px;
}
.specialImages{
    cursor: pointer;


}
